body {
    margin: 0;
}

.start {
    width: 100px;
    margin: 1% 43.5%;
    font-size: 1.5rem;
    padding: 0.5% 2%;
    box-sizing: border-box;
    text-align: center;
}

.main {
    background-color: black;
    width: 800px;
    height: 600px;
    margin: 0px auto;
    padding-top: 7px;
    box-sizing: border-box;
    position: relative;
}

.modal {
    width: 400px;
    height: 120px;
    position: absolute;
    left: 200px;
    top: 70px;
    z-index: 1;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.811);
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.8s ease;
}

.result {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color:rgba(15, 20, 15, 0.479);
    transition: all 0.8s ease;
}

.result__content {
    width: 600px;
    margin: 70px auto;
    background-color: azure;
    padding: 25px;
    box-sizing: border-box;
    outline: 1px solid black;
    outline-offset: -10px;
    border-radius: 5px;
    transition: all 0.8s ease;
}

.result__footer {
    padding-top: 4%;
    box-sizing: border-box;
    margin: 0 auto 7px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.result__footer_button {
    width: 30%;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(11, 181, 11);
    border: 2px solid green;
    color: azure;
}

.result__title {
    font-size: 2rem;
    margin: 0 auto 15px;
    text-align: center;
    text-transform: uppercase;
}

.result__table {
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px dashed gray;
}

.result__table > div {
    width: 50%;
    text-transform: uppercase;
    padding-left: 10%;
    box-sizing: border-box;
}

.user-win {
    color: #0d7eff;
}

.computer-win {
    color: brown;
}

.close-modal {
    opacity: 0;
    transform: translate(0px, -100%);
}

.show-modal {
    opacity: 1;
    transform: translate(0px, 0px);
}

.close-result {
    opacity: 0;
    visibility: hidden;
}

.show-result {
    opacity: 1;
    visibility: visible;
}

.close-content {
    transform: translate(0px, -100%);
}

.show-content {
    transform: translate(0px, 0px);
}

.modal > div {
    font-size: 1.5rem;
    padding-bottom: 7px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 70%;
    height: 25px;
    border-radius: 5px;
}

input[type="button"]{
    width: 15%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(11, 181, 11);
    border: 2px solid green;
    color: azure;
}

#success {
    background-color: rgb(8, 110, 8);
    border: 2px solid green;
}

#error {
    background-color: red;
    border: 2px solid rgb(186, 4, 4);
}

#mouse-move{
    background-color: rgb(14, 147, 14);
    border: 2px solid green;
}

#input-error-border {
    border: 2px solid red;
}

#input-success-border {
    border: 2px solid green;
}

.area {
    background-color: rgb(15, 132, 95);
    width: 95%;
    height: 90%;
    margin: 0 auto;
    border-radius: 2%;
    box-shadow: inset 0px 0px 20px black;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.square {
    width: 50%;
    position: relative;
}

.line {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 7px;
    margin: 0 auto;
}

.info-box {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.red {
    color: brown;
}

.blue {
    color:#0d7eff;
}

.green {
    color: rgba(0, 128, 0, 0.623);
}

.platform {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 90px;
    top: 40%;
    background-color: green;
    border-radius: 15px;
    margin: 18px 0 5px 0;
}

.left {
    left: 2%;
    background-color: brown;
    border: 1px solid rgb(122, 6, 6);
}

.right {
    left: 94%;
    background-color: #0d7eff;
    border: 1px solid #0767d4;
}

.ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.486);
    top: 45%;
    background-color: white;
}

.hide-content {
    display: none;
}