.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(231, 40, 40, 0.5);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}
.stopwatch-display{
    background: rgba(22, 97, 12, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}

body > div:nth-child(2){
    padding-top: 2%;
}

div > input:first-child, div>input:last-child {
    width: 14vw;
    height: 1.5vw;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 5px 0 0 5px;
    text-align: center;
}

div > input:last-child {
    width: auto;
    height: 1.75vw;
    border-radius: 0 5px 5px 0;
}

div>input:last-child:hover {
    border-color: rgba(66, 255, 255, 0.909);
    background-color: rgba(142, 253, 253, 0.957);
}

div>input:last-child:active {
    border-color: rgba(3, 217, 255, 0.909);
    background-color: rgba(19, 170, 235, 0.957);
}

.success-back {
    background-color: green;
}

.error-text {
    color: red;
    margin-top: 1%;
}

.slide-box {
    margin-top: 3%;
    overflow: hidden;
    height: 335px;
    width: 600px;
    position: relative;
    text-align: center;
}

.slide {
    display: inline-block;
    position: absolute;
    transition: all ease 2s;
    width: 100%;
}

