input, select {
    width: 17%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ced4daee;
}

span {
    margin-top: 5px;
    display: inline-block;
}

span + button {
    margin: 0 5px 2px;
}

label + div {
    width: 60%;
}

input.form-control, select {
    width: 90%;
}

.success {
    border: 3px solid green;
}

.error {
    border: 3px solid red;
}

.error-text {
    color: red;
}

.form-label {
    text-transform: uppercase;
    padding-top: 5px;
}

.third-task {
    border: 1px solid black;
    margin: 20px 0 10px;
    width: 34%;
    padding: 5px 15px 5px 0;
    border-radius: 5px;
}

.col {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.col:last-of-type {
    width: 95%;
    justify-content: space-evenly;
}

.btn {
    color: #fff;
    background-color: #0d6efd;
    width: 40%;
    text-align: center;
    border-color: transparent;
    transition: color 1s ease-in-out;
}

.mouse-move {
    background-color: #0160f0d0;
    border-color: #0062f5aa;
}

.click-btn {
    background-color: #0062f5aa;
    border-color:#0062f5aa;
}

.logo {
    width: 6%;
    position: absolute;
    top: 17%;
    left: 41%;
}

.logo > img {
    width: 90%;
}

.step-left {
    padding-left: 35px;
}

.green {
    color: green;
}