#header {
    background-color: aquamarine;
}

#body {
 background-color: azure;
}

#footer {
    background-color: cadetblue;
}

#data {
    background-color: azure;
}

#app > div:first-child {
    background-color: rgb(62, 198, 244);
    width: 50%;
}

#app > div:nth-child(2) {
    background-color: rgba(239, 239, 73, 0.942);
    width: 50%;
}

#app>div:nth-child(3) {
    background-color: rgb(37, 188, 238);
    width: 50%;
}

#app>div:last-child {
    background-color: rgba(239, 239, 73, 0.942);
    width: 50%;
}

#wallet {
    background-color: blanchedalmond;
    margin: 3% auto;
    padding: 5%;
    box-sizing: border-box;
    width: 65%;
    text-align: center;
    border: 1px solid rgba(255, 235, 205, 0.719);

}

#wallet > img {
    width: 20px;
}