button {
    width: 50px;
}

input {
    width: 200px;
}

input[type=text] {
    width: 193px;
    height: 20px;
    margin-top: 10px;
}

button + div, .enter-info + div {
    margin: 10px 0;
}

.list > li {
    width: 100px;
}

.blue {
    background-color: rgb(0, 221, 255);
}

.red {
    background-color: red;
}

.list + div {
    height: 400px;
}

.moved {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border: 1px solid rgba(175, 175, 2, 0.756);
}

.color {
    margin-top: 60px;
}